

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 offset-md-3 mt-5">
      <h2>Sign up</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-3 mt-5 text-center">
      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to image_tag("https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png"), omniauth_authorize_path(resource_name, provider) %><br />
        <% end %>
      <% end %>
      <br/>
      <p class="text-left"><small>Sign up quickly and easily with your Google account. Or use your email to sign up.</small></p>
    </div>

  </div>

  <div class="row">
    <div class = "col-md-4 offset-md-3 mt-4 dividing-line">
      <h6><span>or</span></h6>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-3 mt-4">
      

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-row">
          <div class="col">
            <%= f.label :first_name %><br/>
            <%= f.text_field :first_name, autofocus: true, autocomplete: "name", class: "form-control" %>
          </div>
          <div class="col">
            <%= f.label :last_name %><br/>
            <%= f.text_field :last_name, autofocus: true, autocomplete: "name", class: "form-control" %>
          </div>

        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>
        <br/>
        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-primary" %>
        </div>
      <% end %>
      <div class="mt-2">
        By clicking sign up above, you agree to the <span id="terms">terms</span>.
      </div>
      <br/>

      <span>Already signed up?</span>
      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>


<script>
  
  terms = document.getElementById("terms")
  
  terms.addEventListener("click", (e)=> {
    e.preventDefault();
    window.location.href = "/terms"
  })
</script>
