!!!
%html
	%head
		%meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
		

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126188592-3"></script>
		%script
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-126188592-3');



		%title Ping
		= csrf_meta_tags
		= csp_meta_tag



		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
		
		
  

	%body
	- flash.each do |key,value|
		.alert{ :class => "alert-#{key}" }
			%button.close{ :data => { :dismiss => "alert" } } x
			%strong
				= value
	= javascript_pack_tag 'application'

	= react_component('Nav',{currentUser: current_user})
	= yield