!!!
%html
	%head
		%title Text Handler
		= csrf_meta_tags
		= csp_meta_tag

		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
		
		%meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
  

	%body
	= javascript_pack_tag 'application'

	= react_component('Nav',{})
	= yield